.control {
  background-color: #ffffff;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}
.selectInput {
  background: #ffffff;
  border: 2px #444140 solid;
  color: #000000 !important;
  font-weight: 600;
}
